---
layout: default
title: Archives
permalink: /archives/
---
<style>
    .total_pages_num {
        margin-left: 20px;
    }
    .archive-time {
        color: #222;
        margin-left: 20px;
    }
    .archive-list {
        margin: 5px 0px;
    }
    .archive-list li {
        transition: all 0.1s ease-in-out;
    }
    .archive-list li a {
        font-size: 1.2em;
    }
    .archive-list li:hover {
        margin-left: -15px;
        color: #eb4559;
        transition: all 0.1s ease-in-out;
    }
</style>

<div class="home">
    <h1 class="page-heading">Archives</h1>
    <p class="total_pages_num">
        There are currently <span style="color: #a83279;">{{ site.posts.size }}</span> articles on the site!
    </p>

    {% for post in site.posts %}

    {% unless post.next %}
    <h2 class="archive-time">{{ post.date | date: "%Y-%m" }}</h2>
    {% else %}
    {% capture year %}{{ post.date | date: "%b, %Y" }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: "%b, %Y" }}{% endcapture %}

    {% if year != nyear %}
    <h2 class="archive-time">{{ post.date | date: "%Y-%m" }}</h2>
    {% endif %}
    {% endunless %}
    <ul class="archive-list">
        <li>
            <span class="post-date"><i class="icofont-ui-calendar"></i> {{ post.date | date:"%m-%d" }}</span> <a
                href="{{ post.url }}">{{ post.title }}</a>
        </li>
    </ul>
    {% endfor %}

</div>