---
layout: default
title: Category
permalink: /category/
---

<div class="home">
  <h1 class="page-heading">Category</h1>

  <ul class="cates">
    {% for cate in site.categories %}
    <li>
      <a href="#{{ cate[0] }}" style='
        {% if cate[1].size <= 5 %}
            font-size: 16px;
        {% elsif cate[1].size <= 10 %}
            font-size: 24px;
        {% elsif cate[1].size <= 15 %}
            font-size: 28px;
        {% endif %}
      '><i class="icon-hash"></i>{{ cate[0] }}</a> <sup style="color: red;">{{ cate[1].size }}</sup>
    </li>
    {% endfor %}
</ul>

  <div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <ul id="{{ category_name | slugize }}" class="tags-expo-posts">
        <h4 class="ptag-h3">{{ category_name | upcase }}</h4>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <li class="archive-item">
          <a href="{{ root_url }}{{ post.url }}" class="font-size-sm">{{post.title}} <small>{{ post.date  | date_to_string }}</small></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>

</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/custom.js"></script>