<footer class="footer">
    <div style="text-align: center;padding-bottom: 0px;"><span id="jinrishici-sentence" class="posts-label">Loading...</span></div>
    <div class="wrapper">
        IN {{ site.time | date: '%Y' }} <i class="icon-like" id="heart"></i> {{ site.author }}
    </div>
</footer>

<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
<script src="{{ "/js/easybook.js" | prepend: site.baseurl }}"></script>
<!-- <script async src="https://myhusky.oss-cn-beijing.aliyuncs.com/cdn/SmoothScroll.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script> -->
<script async src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- <script src="/js/custom.js"></script> -->
<script>
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        // 博客创建时间秒数，时间格式中，月比较特殊，是从0开始的，所以想要显示5月，得写4才行，如下
        var create_time = Math.round(new Date(Date.UTC(2020, 1, 1, 0, 0, 0))
                .getTime() / 1000);
        // 当前时间秒数,增加时区的差异
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        if(currentTime[0] == 0){
            currentTimeHtml = currentTime[1];
        }else{
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天';
        }
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    function setATime(year, month, day, id){
        var create_time = Math.round(new Date(Date.UTC(year, month, day, 0, 0, 0))
                .getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        if(currentTime[0] == 0){ // 未满一年
            currentTimeHtml = currentTime[1];
        }else{
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天';
        }
        console.log(year+"/"+month+"/"+day+"=>"+currentTime[1]+">>>"+id)
        document.getElementById(id).innerHTML = currentTimeHtml;
    }
    // setInterval(setTime, 1000);
</script>