<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} « {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" href="https://myhusky.oss-cn-beijing.aliyuncs.com/favicon.png">
  <link rel="icon" href="https://myhusky.oss-cn-beijing.aliyuncs.com/favicon.png">

  <!-- 引入字体文件 -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Code' rel='stylesheet' type='text/css'>
  
  <!-- icon -->
  <link href="https://myhusky.oss-cn-beijing.aliyuncs.com/icofont.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://myhusky.oss-cn-beijing.aliyuncs.com/new/icomoon.css">

  <link rel="stylesheet" href="{{ "/post/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
