/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(15, 1, 34, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: #ffffff;
}

#heart {
  color: red;
  display: inline-block;
  animation: beating 1s infinite;
  animation-timing-function: ease-out;
  margin: 0 3px 0px 3px;
}

// category
#archives {
  padding: 5px;
}

.archive-group {
  margin: 30px 0px 30px 0px;
}

.archive-group ul {
  list-style-type: circle;
  padding-left: 20px;
}

.archive-group ul li:hover {
  list-style-type: disc;
}

.archive-group ul li {
  margin-left: 40px;
  transition: all 0.1s ease-in-out;
  font-size: 1.4em;
  height: 30px;
}

.archive-group ul li:hover {
  margin-left: 30px;
  transition: all 0.1s ease-in-out;
}

.post-tags {
  text-align: right;
}

.archive-item small {
  font-size: 80%;
  color: #9a9a9a;
  margin-left: 10px;
}

.ptag-h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-top: 15px;
}

.font-size-sm{
  font-size: 0.8em;
}

.cates {
  // display: contents;
  list-style-type: none;
  padding-left: 20px;
}
.cates li {
  list-style: none;
  display: inline-table;
  margin: 0px 10px 0px 10px;
  font-size: 1.2em;
  height: 35px;
}

.links {
  padding: 0px 0px 10px 37px;
  margin-left: 17px;
}

.links li {
  padding-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.links li a {
  // color: {{site.color_theme}};
  font-size: 1.2em;
}

.links li:hover {
  /* list-style: circle; */
  margin-left: -15px;
  color: #9b3022;
  transition: all 0.1s ease-in-out;
}

.links li a::before,
.links li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.links li a::before {
  margin-right: 10px;
  content: '[';
  color: #9b3022;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.links li a::after {
  margin-left: 10px;
  content: ']';
  color: #9b3022;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.links li a:hover::before,
.links li a:hover::after,
.links li a:focus::before,
.links li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.shake:hover, .read-more:hover {
  animation: shake-it 0.4s reverse infinite
  cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: all 0.3s ease-in;
}

.shake {
  transition: all 0.3s ease-in;
}

.shake-text > a {
  color: #200f21;
}
.shake-text:hover {
  text-shadow: -2px 0 rgba(0, 255, 255, 0.5), 2px 0 rgba(255, 0, 0, 0.5);
  animation: shake-it 0.4s reverse infinite
    cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

// back to top
.back-to-top{
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0px;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.color_ff0b5{
  color: #ff0b55;
}

.header .site-title {
  font-size: 18px;
}

// 取消公式选中框
:focus{
  outline: none;
}

// 自定义 sidebar profiles
.contact{
  font-size: 1.6em;
  letter-spacing: 5px;
}

.col-box-author .contact {
  margin-top: 5px;
}

.contact a {
  color: #999;
  display:inline-block;
  transition: all 0.4s ease-in;
}

.contact a:hover {
  text-decoration: none;
}

.avatar{
  display: inline-block;
  transition: all 0.4s ease-in;
}
.avatar:hover{
  transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);/*IE9*/
  -moz-transform: rotate(45deg);/*Firefox*/
  -webkit-transform: rotate(45deg);/*Safari 和 Chrome*/
  -o-transform: rotate(45deg);/*Opera*/
  transition: all 0.4s ease-in;
}

.col-box {
  padding-bottom: 5px;
}
 
#profile_github:hover{
  color: black;
}
#profile_email:hover{
  color: red;
}
#profile_hs:hover{
  color: #ffc129;
  cursor: pointer;
}
#profile_tg:hover{
  color: #1f95d4;
}
#profile_weibo:hover{
  // color: #e6162d;
  color: #EC0117;
}
// 自定义 sidebar profiles 结束

blockquote:before {
  position: absolute;
  left: -1.51113rem;
  content: "“";
  font-family: 'Noto Sans SC',"Source Han Serif SC",STFangsong,FangSong,FangSong_GB2312;
  font-size: 300%;
  font-weight: 700;
  line-height: 1;
}

.post-copyright{
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  list-style: none;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
}

.post-nav{
  margin-top: 10px;
  margin-bottom: 10px;
}

// 适配ipad

@media screen and (min-width:768px) and (max-width:992px) {
  .site-title{
    margin-left: 10px;
  }
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .col-main, .col-second {
    width: auto;
    float: none;
  }
  .col-box {
    width: 40%;
    float: left;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .col-box:not(:first-child){
    border-top: none;
  }
  .header .site-nav {
    display: block;
  }
  .header #sidebar-toggle{
    display: none;
  }
}

h2 {
  font-size: 22px;
}

.hover-hash{
  color: #222;
  // text-shadow: 1px 1px #efefef, 2px 2px #fff1e9;
}

.hover-hash:hover::before{
  position: absolute;
  left: 63px;
  content: "#";
  font-size: 110%;
  line-height: 1;
  display: inline;
}

// page _books

.books-container-top {
  display: flex;
}

.books-container-top ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.books-cover-img {
  width: 160px;
}

figure {
  margin: 0 -30px;
}

.post p a {
  text-decoration: underline;
}

@import 
  "tagcolor"
;