.post-excerpt span {
  margin: 0px 2px;
  border-radius: 2px;
}
.post-excerpt span a {
  color: white;
}
.post-excerpt span a:hover {
  text-decoration: none;
}
.post-excerpt span[data-tag="TensorFlow"] {
  background-color: #fe346e;
}
.post-excerpt span[data-tag="分享"] {
  background-color: #481380;
}
.post-excerpt span[data-tag="疑难杂症"] {
  background-color: #29c7ac;
}
.post-excerpt span[data-tag="工具包"] {
  background-color: #8cba51;
}
.post-excerpt span[data-tag="转载"] {
  background-color: #844685;
}
.post-excerpt span[data-tag="环境配置"] {
  background-color: #424874;
}
.post-excerpt span[data-tag="笔记"] {
  background-color: #235952;
}
.post-excerpt span[data-tag="Python"]{
  background-color: #511845;
}
.post-excerpt span[data-tag="Kears"]{
  background-color: #679b9b;
}
.post-excerpt span[data-tag="Java"]{
  background-color: #e84a5f;
}