---
layout: default
---
<div class="post">
  {% capture offset = 10%}{{page.content | strip_html | strip_newlines | remove: " " | size | times: 0.12| ceil}}{% endcapture %}
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • Total {{ page.content | strip_html | strip_newlines | remove: " " | size | minus: offset }} Characters{% if page.update %} • Update at {{ page.update| date: "%b %-d, %Y"}}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
    <hr>
  <div class="post-nav">
    {% if page.previous %}
    <div class="post-nav-item post-nav-prev">上一篇：<a href="{{ page.previous.url }}">{{ page.previous.title }}</a></div>
    {% else %}
      <span style="color: #999;">上一篇：没有上一篇了</span>
    {% endif %}
    {% if page.next %}
    <div class="post-nav-item post-nav-next">下一篇：<a href="{{ page.next.url }}">{{ page.next.title }}</a></div>
    {% else %}
      <span style="color: #999;">下一篇：没有下一篇了</span>
    {% endif %}
  </div>
  <hr>
  <span class="back-to-top shake-text" onclick="topFunction()"><i class="icofont-curved-double-right"></i>back to top<i class="icofont-curved-double-left"></i></span>
  </article>
  {% include comment.html %}

</div>
